.side-bar
  .header
    %h2.header__user-name.white-bold-font
      higuchi
    %ul.edit-list
      %li.edit-list__edit
        %i.fa.fa-edit
      %li.edit-list__new
        %i.fa.fa-cog
  .groups
    .group
      %h3.group__group-name.white-bold-font
        div.inc
      %p.group__group-log.white-bold-font
        this is a first message
