.wrapper{
  display: flex;
  .main{
    width: 100%;
    background: #fafafa;
    .header{
      display: flex;
      border-bottom: 1px solid #eeeeee;
      position: relative;
      background: white;
      .group-info{
        margin-left:40px;
        &__group-name{
          margin: 30px 0 15px 0;
          font-size: 20px;
          color: #333333;
        }
        .members__member{
          font-size: 12px;
          color: #999999;
        }
      }
      .edit-btn__btn-text{
        position: absolute;
        right: 60px;
        top: 28px;
        border: 1px solid #38AEF0;
        padding: 10px 20px;
        &--link{
          color: #38AEF0;
          text-decoration: none;
        }
      }
    }
  }
  .message{
    margin: 40px;
    &_upline{
      display: flex;
      margin-bottom: 10px;
    }
    &__name{
      font-size: 16px;
      font-weight: bold;
    }
    &__date{
      font-size: 12px;
      color: #999999;
      margin-left: 10px;
    }
    &__body{
      color: #434A54;
    }
  }
  .form{
    .input-box{
      position: fixed;
      bottom: 0px;
      width: 100%;
      background-color: #ddd;
      padding: 20px 40px;
      &__text{
        width: 70%;
        height: 50px;
      }
      &__image{
        position: fixed;
        right: 160px;
        bottom: 32px;
        font-size: 20px;
      }
    }
    &__send-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}
